.gymInfo {
  height: 90vh;
}
.location {
  margin-top: 3vh;
  display: flex;
  text-align: justify;
  width: auto;
}
.method {
  margin-top: 3vh;
  text-align: justify;
}
.title {
  font-weight: 800;
}
h6 {
  margin: 0 !important;
  padding: 0 !important;
}
.img {
  margin-top: 4vh;
  width: 100%;
  display: flex;
  justify-content: center;
}
.image {
  width: 50%;
}
