.respective_place {
  height: 90vh;
  overflow-y: scroll;
  margin: 0;
  text-align: justify;
}
.place_intro {
  height: auto;
}
.placeImg {
  width: 30.5vw;
}
.imgInfo {
  display: flex;
}
.pokemons_found {
  height: auto;
}
.found {
  width: 100%;
}
.image {
  width: 100%;
  height: auto;
  display: flex;
}
.pokemons_found_img {
  width: 30vw;
}
